# Infisical env
INFISICAL_SERVICE_TOKEN=st.your_token_here
INFISICAL_PROJECT_ID=your_project_id
INFISICAL_ENV=dev

# Speech to Text
DEEPGRAM_API_KEY=

# Assessment
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3

# App
DEBUG=false
